# <font color=red>**Mr Fugu Data Science**</font>

# `India Indeed Webscraping Help for Viewer`


# (◕‿◕✿)

In [379]:
import os
import requests
from bs4 import BeautifulSoup # webscrape
from collections import defaultdict # default dictionary: store a list with each key
import pandas as pd     # DF
import re               # regular expressions
import datetime         # format date/time

In [ ]:
# Ex. City we will investigate: Chennai, Tamil Nadu

In [363]:
# this was used for the person contacting me who had these details for their system
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

# Skills & Place of Work
skill = input('Enter your Skill: ').strip()
place = input('Enter the location: ').strip()
no_of_pages = int(input('Enter the # of pages to scrape: '))

indeed_posts=[]

for page in range(no_of_pages):
        url = 'https://www.indeed.co.in/jobs?q=' + skill + \
            '&l=' + place + '&sort=date' +'&start='+ str(page * 10)
        response = requests.get(url, headers=headers)
        html = response.text

        # Scrapping the Web
        soup = BeautifulSoup(html, 'lxml')

        # Outer Most Entry Point of HTML:
        outer_most_point=soup.find('div',attrs={'id': 'mosaic-provider-jobcards'})
        
        # "UL" lists where the data are stored:
        
        for i in outer_most_point.find('ul'):
            
        # Job Title:
        
            job_title=i.find('h2',{'class':'jobTitle jobTitle-color-purple jobTitle-newJob'})
#             print(job_title)
            if job_title != None:
                jobs=job_title.find('a').text

        # Company Name:
    
            if i.find('span',{'class':'companyName'}) != None:
                company=i.find('span',{'class':'companyName'}).text   
                
        # Links:
        
            if i.find('a') != None:
                links=i.find('a',{'class':'jcs-JobTitle'})['href']
                
        # Salary if available:
        
            if i.find('div',{'class':'attribute_snippet'}) != None:
                salary=i.find('div',{'class':'attribute_snippet'}).text

            else:
                salary='No Salary'

        # Job Post Date:

            if i.find('span', attrs={'class': 'date'}) != None:
                post_date = i.find('span', attrs={'class': 'date'}).text

        # Put everything together in a list of lists for the default dictionary
                        
            indeed_posts.append([company,jobs,links,salary, post_date])
            
            
# put together in list

# (create a dictionary with keys and a list of values from above "indeed_posts")

indeed_dict_list=defaultdict(list)

# Fields for our DF 

indeed_spec=['Company','job','link','Salary','Job_Posted_Date']

Enter your Skill: data analyst
Enter the location: Chennai, Tamil Nadu
Enter the # of pages to scrape: 2

In [364]:
# Example of the layout for our future DF or if you want to store in this format or convert to defaultdict()

a=indeed_posts[0]
list(zip(indeed_spec,a))

[('Company', 'Shell'),
 ('job', 'Data Science Analyst'),
 ('link', '/rc/clk?jk=d29dc2370a030c6b&fccid=167aa4ca2fe7d8e6&vjs=3'),
 ('Salary', 'No Salary'),
 ('Job_Posted_Date', 'PostedJust posted')]

In [365]:
# Each entry is a list with 5 fields

indeed_posts

[['Shell',
  'Data Science Analyst',
  '/rc/clk?jk=d29dc2370a030c6b&fccid=167aa4ca2fe7d8e6&vjs=3',
  'No Salary',
  'PostedJust posted'],
 ['Applied Data Finance',
  'Senior Business Analyst',
  '/rc/clk?jk=d370db4dde5e29c9&fccid=49ff321cf42a70bd&vjs=3',
  'No Salary',
  'PostedJust posted'],
 ['WELLS FARGO BANK',
  'Finance Analyst',
  '/rc/clk?jk=0adb9e03a16ba7f9&fccid=78bbcd26e39621f5&vjs=3',
  'No Salary',
  'PostedJust posted'],
 ['GAIN Credit',
  'Team Lead - BI',
  '/rc/clk?jk=45d36def7dccbaca&fccid=f93bef9eefa32e8a&vjs=3',
  'No Salary',
  'PostedJust posted'],
 ['BNY Mellon',
  'Analyst, Client Onboarding/Transitions/Conversions/Know Your...',
  '/rc/clk?jk=fd0482c912beac0e&fccid=b4048be2884af072&vjs=3',
  'No Salary',
  'PostedToday'],
 ['BNY Mellon',
  'Analyst, Client Onboarding/Transitions/Conversions/Know Your...',
  '/rc/clk?jk=fd0482c912beac0e&fccid=b4048be2884af072&vjs=3',
  'No Salary',
  'PostedToday'],
 ['Elsevier',
  'Business Intelligence Analyst (Reporting) 0522-CH-121',
  '/rc/clk?jk=3ae80f82e11efb8f&fccid=cc83b93538e07cb1&vjs=3',
  'No Salary',
  'PostedToday'],
 ['RELX',
  'Business Intelligence Analyst (Reporting) 0522-CH-121',
  '/rc/clk?jk=cd57a23a1fd0910b&fccid=098f028fec64b983&vjs=3',
  'No Salary',
  'PostedToday'],
 ['NatWest Group',
  'Principal Business Analyst',
  '/rc/clk?jk=c59d3928d341c94b&fccid=4a3a2b1eb3ec0691&vjs=3',
  'No Salary',
  'PostedToday'],
 ['BNY Mellon',
  'Analyst, Client Reporting/Perf',
  '/rc/clk?jk=ca601bda19661689&fccid=b4048be2884af072&vjs=3',
  'No Salary',
  'PostedToday'],
 ['Flex',
  'Analyst - General Ledger',
  '/rc/clk?jk=1e4b22ce7636c3ba&fccid=b4ab9735c58e3972&vjs=3',
  'No Salary',
  'PostedToday'],
 ['Flex',
  'Analyst - General Ledger',
  '/rc/clk?jk=1e4b22ce7636c3ba&fccid=b4ab9735c58e3972&vjs=3',
  'No Salary',
  'PostedToday'],
 ['Elsevier',
  'Business Analyst III',
  '/rc/clk?jk=d383ac527d9dcc76&fccid=cc83b93538e07cb1&vjs=3',
  'No Salary',
  'PostedToday'],
 ['RELX',
  'Business Analyst III',
  '/rc/clk?jk=5350810bb62ec9c4&fccid=098f028fec64b983&vjs=3',
  'No Salary',
  'PostedToday'],
 ['AstraZeneca',
  'Senior Analyst - Associate Solution Owner',
  '/rc/clk?jk=17345b5cc7305f03&fccid=003656df63cede32&vjs=3',
  'No Salary',
  'Posted1 day ago'],
 ['Barclays',
  'Senior Analyst',
  '/rc/clk?jk=addba1e32ee36e1c&fccid=057abf3fd357e717&vjs=3',
  'No Salary',
  'Posted2 days ago'],
 ['Citi',
  'Cash and Trade Proc Analyst 1 - C09',
  '/rc/clk?jk=9db5439fafbc01e0&fccid=5bcd1ef0a7f4fb99&vjs=3',
  'No Salary',
  'Posted2 days ago'],
 ['Citi',
  'Cash and Trade Proc Analyst 1 - C09',
  '/rc/clk?jk=9db5439fafbc01e0&fccid=5bcd1ef0a7f4fb99&vjs=3',
  'No Salary',
  'Posted2 days ago'],
 ['Zigsaw',
  'Celonis data analyst',
  '/rc/clk?jk=6af9ca7dac68e0df&fccid=c704c3e90d029ba7&vjs=3',
  'No Salary',
  'Posted2 days ago'],
 ['CIEL HR Services',
  'CIEL/STF/26471: Data Analyst',
  '/rc/clk?jk=b31744e9f797cc70&fccid=2b1e42f645eeaf1e&vjs=3',
  'No Salary',
  'Posted2 days ago'],
 ['Genesys',
  'Business Operations Analyst',
  '/rc/clk?jk=2fe0c0273db16e16&fccid=78ba8c9950e5297a&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['Illumine Industries',
  'Market Research Analyst',
  '/rc/clk?jk=e2addedbc22e07ef&fccid=8e253b35af513d93&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['Vestas',
  'Analyst',
  '/rc/clk?jk=5935ec3d9cda62be&fccid=4e8a74cd622db073&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['Vestas',
  'Analyst',
  '/rc/clk?jk=5935ec3d9cda62be&fccid=4e8a74cd622db073&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['NielsenIQ',
  'Data Analysis\xa0Engineer',
  '/rc/clk?jk=21ce4e3b4ce1da5d&fccid=7cb2f2a8d7f35bee&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['CGI Inc',
  'Senior Business Analyst - Business Analyst with Fleet & Reta...',
  '/rc/clk?jk=1281ac0fcf96d7ac&fccid=43a69183767d4301&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['Genesys',
  'Staff BI Developer',
  '/rc/clk?jk=3e58bcc160896504&fccid=78ba8c9950e5297a&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['ADCI - Tamil Nadu',
  'Business Analyst, WW Price Perception',
  '/rc/clk?jk=83b0f7a0a1c9f46a&fccid=fe2d21eef233e94a&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['Accenture',
  'Senior Analyst-Healthcare Claims',
  '/rc/clk?jk=8945a606679280f4&fccid=a4e4e2eaf26690c9&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['Accenture',
  'Senior Analyst-Healthcare Claims',
  '/rc/clk?jk=8945a606679280f4&fccid=a4e4e2eaf26690c9&vjs=3',
  'No Salary',
  'Posted3 days ago'],
 ['GrepTech Solutions',
  'Senior Data Analyst',
  '/company/GrepTech-Solutions/jobs/Senior-Data-Analyst-1bf93ae6a9f429df?fccid=6b9e93efdc3710c2&vjs=3',
  '₹12,000 - ₹30,000 a month',
  'Posted3 days ago'],
 ['BNY Mellon',
  'Senior Analyst, Data Management & Quantitative Analysis',
  '/rc/clk?jk=b500364f8b280b92&fccid=b4048be2884af072&vjs=3',
  'No Salary',
  'Posted4 days ago'],
 ['Petrofac',
  'Senior FPA Analyst',
  '/rc/clk?jk=5ec182de91ce8981&fccid=17a73c628013a669&vjs=3',
  'No Salary',
  'Posted4 days ago'],
 ['BNY Mellon',
  'Intermediate Representative, Data Management & Quantitative...',
  '/rc/clk?jk=d8ef34af07feee08&fccid=b4048be2884af072&vjs=3',
  'No Salary',
  'Posted4 days ago'],
 ['Standard Chartered',
  'Analyst, Data Engineering',
  '/rc/clk?jk=a52350308b2a4324&fccid=5249cd8e17163cb5&vjs=3',
  'No Salary',
  'Posted4 days ago'],
 ['Standard Chartered',
  'Analyst, Data Engineering',
  '/rc/clk?jk=a52350308b2a4324&fccid=5249cd8e17163cb5&vjs=3',
  'No Salary',
  'Posted4 days ago']]

In [366]:
# Getting the Date a Job was Posted as a string:

for i in range(len(indeed_posts)):
#     print(indeed_posts[i])
    p=(list(zip(indeed_spec,indeed_posts[i])))
    
    for j in p:
        indeed_dict_list[j[0]].append(j[1]) # using default dictionary
        
indeed_dict_list

defaultdict(list,
            {'Company': ['Shell',
              'Applied Data Finance',
              'WELLS FARGO BANK',
              'GAIN Credit',
              'BNY Mellon',
              'BNY Mellon',
              'Elsevier',
              'RELX',
              'NatWest Group',
              'BNY Mellon',
              'Flex',
              'Flex',
              'Elsevier',
              'RELX',
              'AstraZeneca',
              'Barclays',
              'Citi',
              'Citi',
              'Zigsaw',
              'CIEL HR Services',
              'Genesys',
              'Illumine Industries',
              'Vestas',
              'Vestas',
              'NielsenIQ',
              'CGI Inc',
              'Genesys',
              'ADCI - Tamil Nadu',
              'Accenture',
              'Accenture',
              'GrepTech Solutions',
              'BNY Mellon',
              'Petrofac',
              'BNY Mellon',
              'Standard Chartered',
              'Standard Chartered'],
             'job': ['Data Science Analyst',
              'Senior Business Analyst',
              'Finance Analyst',
              'Team Lead - BI',
              'Analyst, Client Onboarding/Transitions/Conversions/Know Your...',
              'Analyst, Client Onboarding/Transitions/Conversions/Know Your...',
              'Business Intelligence Analyst (Reporting) 0522-CH-121',
              'Business Intelligence Analyst (Reporting) 0522-CH-121',
              'Principal Business Analyst',
              'Analyst, Client Reporting/Perf',
              'Analyst - General Ledger',
              'Analyst - General Ledger',
              'Business Analyst III',
              'Business Analyst III',
              'Senior Analyst - Associate Solution Owner',
              'Senior Analyst',
              'Cash and Trade Proc Analyst 1 - C09',
              'Cash and Trade Proc Analyst 1 - C09',
              'Celonis data analyst',
              'CIEL/STF/26471: Data Analyst',
              'Business Operations Analyst',
              'Market Research Analyst',
              'Analyst',
              'Analyst',
              'Data Analysis\xa0Engineer',
              'Senior Business Analyst - Business Analyst with Fleet & Reta...',
              'Staff BI Developer',
              'Business Analyst, WW Price Perception',
              'Senior Analyst-Healthcare Claims',
              'Senior Analyst-Healthcare Claims',
              'Senior Data Analyst',
              'Senior Analyst, Data Management & Quantitative Analysis',
              'Senior FPA Analyst',
              'Intermediate Representative, Data Management & Quantitative...',
              'Analyst, Data Engineering',
              'Analyst, Data Engineering'],
             'link': ['/rc/clk?jk=d29dc2370a030c6b&fccid=167aa4ca2fe7d8e6&vjs=3',
              '/rc/clk?jk=d370db4dde5e29c9&fccid=49ff321cf42a70bd&vjs=3',
              '/rc/clk?jk=0adb9e03a16ba7f9&fccid=78bbcd26e39621f5&vjs=3',
              '/rc/clk?jk=45d36def7dccbaca&fccid=f93bef9eefa32e8a&vjs=3',
              '/rc/clk?jk=fd0482c912beac0e&fccid=b4048be2884af072&vjs=3',
              '/rc/clk?jk=fd0482c912beac0e&fccid=b4048be2884af072&vjs=3',
              '/rc/clk?jk=3ae80f82e11efb8f&fccid=cc83b93538e07cb1&vjs=3',
              '/rc/clk?jk=cd57a23a1fd0910b&fccid=098f028fec64b983&vjs=3',
              '/rc/clk?jk=c59d3928d341c94b&fccid=4a3a2b1eb3ec0691&vjs=3',
              '/rc/clk?jk=ca601bda19661689&fccid=b4048be2884af072&vjs=3',
              '/rc/clk?jk=1e4b22ce7636c3ba&fccid=b4ab9735c58e3972&vjs=3',
              '/rc/clk?jk=1e4b22ce7636c3ba&fccid=b4ab9735c58e3972&vjs=3',
              '/rc/clk?jk=d383ac527d9dcc76&fccid=cc83b93538e07cb1&vjs=3',
              '/rc/clk?jk=5350810bb62ec9c4&fccid=098f028fec64b983&vjs=3',
              '/rc/clk?jk=17345b5cc7305f03&fccid=003656df63cede32&vjs=3',
              '/rc/clk?jk=addba1e32ee36e1c&fccid=057abf3fd357e717&vjs=3',
              '/rc/clk?jk=9db5439fafbc01e0&fccid=5bcd1ef0a7f4fb99&vjs=3',
              '/rc/clk?jk=9db5439fafbc01e0&fccid=5bcd1ef0a7f4fb99&vjs=3',
              '/rc/clk?jk=6af9ca7dac68e0df&fccid=c704c3e90d029ba7&vjs=3',
              '/rc/clk?jk=b31744e9f797cc70&fccid=2b1e42f645eeaf1e&vjs=3',
              '/rc/clk?jk=2fe0c0273db16e16&fccid=78ba8c9950e5297a&vjs=3',
              '/rc/clk?jk=e2addedbc22e07ef&fccid=8e253b35af513d93&vjs=3',
              '/rc/clk?jk=5935ec3d9cda62be&fccid=4e8a74cd622db073&vjs=3',
              '/rc/clk?jk=5935ec3d9cda62be&fccid=4e8a74cd622db073&vjs=3',
              '/rc/clk?jk=21ce4e3b4ce1da5d&fccid=7cb2f2a8d7f35bee&vjs=3',
              '/rc/clk?jk=1281ac0fcf96d7ac&fccid=43a69183767d4301&vjs=3',
              '/rc/clk?jk=3e58bcc160896504&fccid=78ba8c9950e5297a&vjs=3',
              '/rc/clk?jk=83b0f7a0a1c9f46a&fccid=fe2d21eef233e94a&vjs=3',
              '/rc/clk?jk=8945a606679280f4&fccid=a4e4e2eaf26690c9&vjs=3',
              '/rc/clk?jk=8945a606679280f4&fccid=a4e4e2eaf26690c9&vjs=3',
              '/company/GrepTech-Solutions/jobs/Senior-Data-Analyst-1bf93ae6a9f429df?fccid=6b9e93efdc3710c2&vjs=3',
              '/rc/clk?jk=b500364f8b280b92&fccid=b4048be2884af072&vjs=3',
              '/rc/clk?jk=5ec182de91ce8981&fccid=17a73c628013a669&vjs=3',
              '/rc/clk?jk=d8ef34af07feee08&fccid=b4048be2884af072&vjs=3',
              '/rc/clk?jk=a52350308b2a4324&fccid=5249cd8e17163cb5&vjs=3',
              '/rc/clk?jk=a52350308b2a4324&fccid=5249cd8e17163cb5&vjs=3'],
             'Salary': ['No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              '₹12,000 - ₹30,000 a month',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary',
              'No Salary'],
             'Job_Posted_Date': ['PostedJust posted',
              'PostedJust posted',
              'PostedJust posted',
              'PostedJust posted',
              'PostedToday',
              'PostedToday',
              'PostedToday',
              'PostedToday',
              'PostedToday',
              'PostedToday',
              'PostedToday',
              'PostedToday',
              'PostedToday',
              'PostedToday',
              'Posted1 day ago',
              'Posted2 days ago',
              'Posted2 days ago',
              'Posted2 days ago',
              'Posted2 days ago',
              'Posted2 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted3 days ago',
              'Posted4 days ago',
              'Posted4 days ago',
              'Posted4 days ago',
              'Posted4 days ago',
              'Posted4 days ago']})

In [367]:
# Or if you want to have just a DF

print(pd.DataFrame(indeed_posts,columns=indeed_spec)['link'][0]) 
#these are not the same, probably from recruiter(s)
print(pd.DataFrame(indeed_posts,columns=indeed_spec)['link'][1])

pd.DataFrame(indeed_posts,columns=indeed_spec)

/rc/clk?jk=d29dc2370a030c6b&fccid=167aa4ca2fe7d8e6&vjs=3
/rc/clk?jk=d370db4dde5e29c9&fccid=49ff321cf42a70bd&vjs=3

                 Company  ...    Job_Posted_Date
0                  Shell  ...  PostedJust posted
1   Applied Data Finance  ...  PostedJust posted
2       WELLS FARGO BANK  ...  PostedJust posted
3            GAIN Credit  ...  PostedJust posted
4             BNY Mellon  ...        PostedToday
5             BNY Mellon  ...        PostedToday
6               Elsevier  ...        PostedToday
7                   RELX  ...        PostedToday
8          NatWest Group  ...        PostedToday
9             BNY Mellon  ...        PostedToday
10                  Flex  ...        PostedToday
11                  Flex  ...        PostedToday
12              Elsevier  ...        PostedToday
13                  RELX  ...        PostedToday
14           AstraZeneca  ...    Posted1 day ago
15              Barclays  ...   Posted2 days ago
16                  Citi  ...   Posted2 days ago
17                  Citi  ...   Posted2 days ago
18                Zigsaw  ...   Posted2 days ago
19      CIEL HR Services  ...   Posted2 days ago
20               Genesys  ...   Posted3 days ago
21   Illumine Industries  ...   Posted3 days ago
22                Vestas  ...   Posted3 days ago
23                Vestas  ...   Posted3 days ago
24             NielsenIQ  ...   Posted3 days ago
25               CGI Inc  ...   Posted3 days ago
26               Genesys  ...   Posted3 days ago
27     ADCI - Tamil Nadu  ...   Posted3 days ago
28             Accenture  ...   Posted3 days ago
29             Accenture  ...   Posted3 days ago
30    GrepTech Solutions  ...   Posted3 days ago
31            BNY Mellon  ...   Posted4 days ago
32              Petrofac  ...   Posted4 days ago
33            BNY Mellon  ...   Posted4 days ago
34    Standard Chartered  ...   Posted4 days ago
35    Standard Chartered  ...   Posted4 days ago

[36 rows x 5 columns]

In [375]:
import re               # regular expressions
import datetime         # format date/time

# Let's deal with fixing posting dates using Regular Expressions

indeed_jobs_df = pd.DataFrame(indeed_posts,columns=indeed_spec)


dates_converted=[]

for i in indeed_jobs_df['Job_Posted_Date']:

    if re.findall(r'[0-9]',i):
        # if the string has digits convert each entry to single string: ['3','0']->'30'
        b=''.join(re.findall(r'[0-9]',i))
        
        # convert string int to int and subtract from today's date and format
        g=(datetime.datetime.today()-datetime.timedelta(int(b))).strftime('%m-%d-%Y')

        dates_converted.append(g)
        
#     if i.find('today') or i.find('just posted'):
#         p=(datetime.datetime.today().strftime('%m-%d-%Y'))
#         v.append(p)
        
    else: # this will contain strings like: 'just posted' or 'today' etc before convert
        dates_converted.append(datetime.datetime.today().strftime('%m-%d-%Y'))
dates_converted

['06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-06-2022',
 '06-05-2022',
 '06-04-2022',
 '06-04-2022',
 '06-04-2022',
 '06-04-2022',
 '06-04-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-03-2022',
 '06-02-2022',
 '06-02-2022',
 '06-02-2022',
 '06-02-2022',
 '06-02-2022']

In [377]:
# Update DF Column for Job Posted Dates:

indeed_jobs_df['Job_Posted_Date']= dates_converted

indeed_jobs_df

                 Company  ... Job_Posted_Date
0                  Shell  ...      06-06-2022
1   Applied Data Finance  ...      06-06-2022
2       WELLS FARGO BANK  ...      06-06-2022
3            GAIN Credit  ...      06-06-2022
4             BNY Mellon  ...      06-06-2022
5             BNY Mellon  ...      06-06-2022
6               Elsevier  ...      06-06-2022
7                   RELX  ...      06-06-2022
8          NatWest Group  ...      06-06-2022
9             BNY Mellon  ...      06-06-2022
10                  Flex  ...      06-06-2022
11                  Flex  ...      06-06-2022
12              Elsevier  ...      06-06-2022
13                  RELX  ...      06-06-2022
14           AstraZeneca  ...      06-05-2022
15              Barclays  ...      06-04-2022
16                  Citi  ...      06-04-2022
17                  Citi  ...      06-04-2022
18                Zigsaw  ...      06-04-2022
19      CIEL HR Services  ...      06-04-2022
20               Genesys  ...      06-03-2022
21   Illumine Industries  ...      06-03-2022
22                Vestas  ...      06-03-2022
23                Vestas  ...      06-03-2022
24             NielsenIQ  ...      06-03-2022
25               CGI Inc  ...      06-03-2022
26               Genesys  ...      06-03-2022
27     ADCI - Tamil Nadu  ...      06-03-2022
28             Accenture  ...      06-03-2022
29             Accenture  ...      06-03-2022
30    GrepTech Solutions  ...      06-03-2022
31            BNY Mellon  ...      06-02-2022
32              Petrofac  ...      06-02-2022
33            BNY Mellon  ...      06-02-2022
34    Standard Chartered  ...      06-02-2022
35    Standard Chartered  ...      06-02-2022

[36 rows x 5 columns]

# Explain Links from postings:

+ Each link goes to a separate page which includes the full job description and relevant information. 
    + You can iterate each link and take whatever information you are interested in.

In our example we have something that looks like this:

`indeed_jobs_df['link'][0] : '/rc/clk?jk=d29dc2370a030c6b&fccid=167aa4ca2fe7d8e6&vjs=3'`

The way we would hand this would look something like this:

`https://www.indeed.co.in/rc/clk?jk=d29dc2370a030c6b&fccid=167aa4ca2fe7d8e6&vjs=3`

and we can webscrape just as usual

you could have a setup like this: 


#  This will not exactly work and needs to be modified! 

hoop=[]

for i in range(len(gg)):

    op=requests.get('www.indeed.co.in'+gg[i]['link'])
    
    sou_=bsopa(op.text,'html.parser')
    
    for ii in sou_.find('div',{'class':'jobsearch-jobDescriptionText'}): `# this will need to be modified!`
        
        try:
            
            hoop.append([i,''.join(ii.text.strip())])
        
        except AttributeError:
            
            hoop.append([i,''])
hoop[0]


this is an example from a prior video 2 years ago about parsing Indeed.com which has examples you will not see today. 

Github from prior webscraping or indeed.com related: https://github.com/MrFuguDataScience/Webscraping

# `Thank you for watching:`


# (◕‿◕✿)

# <font color=red> Like , Share & SUBscribe</font>